.slider_img{    height: 278px;
}
.product_item_card{padding: 1rem;color: black;border-radius: 0.5rem;

}
.react-multi-carousel-item{margin:2rem;}
.react-multi-carousel-item  {width: 276px !important;;}
.row_item{margin-top: 12px;}
